@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

$background-color: #ffffff;
$text-color: rgb(0, 0, 0);
$serif: 'Lora', serif;
$sans-serif: 'Poppins', sans-serif;


body {
  // position: absolute;
  // top: 0;
  // left: 0;
  margin: 0;
  // padding: 20px;
  font-size: 16px;
  font-family: $sans-serif;
  background-color: $background-color;
  color: $text-color;
  // display: flex;
}


.hero {
  background: black url('../../server/public/images/tom-cruise.jpg') center / cover;
  background-repeat:space;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieTitle {
  font-size: 2.2rem;
  gap: 3rem;
}

.movies-container {
  width: 100%;
}



.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  // background-color: rgb(255, 175, 175);
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  // font-size: 3rem;
  // font: $serif;
}

form {

	padding: 2rem 1rem 0;
}


.label {
	color: #8597a3;
	position: absolute;
	// top: 1.5rem;
	transition: .25s ease;
  
}

.column {
  text-align: end;
  margin-right: 0;
  margin-bottom: 5vh;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-field {
  border: 0;
	z-index: 1;
	background-color: transparent;

	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

div.notification {
  margin-bottom:3vh;
  width: 100%;
}

.notification {
  gap: 2em;
}

.subtitle {
  font-size: 1.3rem;
}

.addMovie {
  margin-top: 5vh;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	// box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: 1.75rem;
}


.addBtn {
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}

}


.action {
  margin-top: 2rem;
}

.button-39 {
  font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}