@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

$background-color: #ffffff;
$text-color: rgb(0, 0, 0);
$serif: 'Lora', serif;
$sans-serif: 'Poppins', sans-serif;


body {
  // position: absolute;
  // top: 0;
  // left: 0;
  margin: 0;
  // padding: 20px;
  font-size: 16px;
  font-family: $sans-serif;
  background-color: $background-color;
  color: $text-color;
  // display: flex;
}

.hero {
  background: black url('../../server/public/images/tom-cruise.jpg') center / cover;
  background-repeat:space;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieTitle {
  font-size: 2rem;
  gap: 3rem;
}
#app > section.section > div.px-12 > section > div:nth-child(9) {
  padding-right: 0%;
}



.main {
  display: flex;
  flex-direction: row;
justify-content: center;
}

.header {
  // background-color: rgb(255, 175, 175);
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  // font-size: 3rem;
  // font: $serif;
}

form {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.3rem;
  // text-align: end;
}

label {
  padding-top: 3vh;
}

.column {
  text-align: end;
  margin-right: 0;
  margin-bottom: 5vh;
}

div.notification {
  margin-bottom:3vh;
  width: 100%;
}

.notification {
  gap: 2em;
}

.subtitle {
  font-size: 1.3rem;
}

.addMovie {
  margin-top: 3rem;
 
}






/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  margin-top: 3vh;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}